*{
	margin: 0;
	padding: 0;
}

a{
	text-decoration: none;
}

li{
	text-decoration: none;
	list-style: none;
}

body{
	font-family: 'Raleway', sans-serif;
}

.logo{
	background: #000;
	width: 100%;
	display: flex;
	justify-content: center;
}

.graficlogo{
	padding: 5px;
	max-width: 100%;
	box-sizing: border-box;
}

nav{
	margin: auto;
	width: 800px;
	height: 50px;
}

.topnav{
	background-color: #fff;
	font-size: 14px;
	margin-top: 40px;
}

.topnav a{
	color: #000;
	text-align: center;
	padding: 14px 16px;
	font-size: 15px;
}

.topnav a:hover{
	border-bottom: 2px solid #000;
}

.topnav .icon{
	display: none;
}
.mw-100{
	max-width: 100%;
}

.advantages_container{
	display: flex;
	justify-content: center;
}

.advantages{
	padding-top: 40px;
	padding-bottom: 40px;
	width: 70%;
	display: flex;
	justify-content: space-between;
	text-align: center;
	flex-wrap: wrap;
}

.advantages_item{
	width: 30%;
}
.gallery{
	display: flex;
	width: 80%;
	margin: auto;
	flex-wrap: wrap;
	margin-bottom: 50px;
}
.photo_items{
	width: 24%;
	padding: 0px 2px;
}
.photo_items img{
	box-sizing: border-box;
	max-width: 100%;
	opacity: 0.7;
}

.photo_items img:hover{
	opacity: 1;
}
.blog_container{
	background:#fafafa;
	border-radius: 5px;
	box-shadow: rgba(0,0,0,0.2) 0 4px 2px -2px;
	font-weight: 100;
	margin: 48px auto;
	width: 50rem;
}
.blog_container a:hover{
	border-color: #ff4d4d;
	color: #ff4d4d;
}
.blog_cover{
	background: url(../Image/blog.jpg);
	background-size: cover;
	border-radius: 5px 5px 0 0;
	height: 15rem;
	box-shadow: inset rgba(0,0,0,0.2) 0 64px 64px 16px;
}
.blog_body{
	margin: 0 auto;
	width: 80%;
}
.blog_title h1 a {
	color:#333;
	font-weight: 100;
}
.blog_text p{
	color: #4d4d4d;
}
.blog_tags ul{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	list-style: none;
	padding-left: 0;
}
.blog_tags li + li{
	margin-left: 0.5rem;
}
.blog_tags a{
	border: 1px solid #999999;
	border-radius: 3px;
	color: #999999;
	font-size: 0.75rem;
	height: 1.5rem;
	line-height: 1.5rem;
	letter-spacing: 1px;
	padding: 0 .5rem;
	text-align: center;
	text-transform: uppercase;
	white-space: nowrap;
	width: 5rem;
}
.blog_footer{
	border-top: 1px solid #e6e6e6;
	margin: 0 auto;
	padding-bottom: 0.125rem;
	width: 80%;
}
.blog_footer ul{
	list-style: none;
	display: flex;
	flex:row wrap;
	justify-content: flex-end;
	padding-left: 0;
}
.blog_footer li{
	color:#999999;
	font-size: 0.75rem;
	height: 1.5rem;
	text-align: center;
	text-transform: uppercase;
	position: relative;
	white-space: nowrap;
}
.pablished_date{
	border: 1px solid #999999;
	border-radius: 3px;
	padding: 0 .5rem;
}
#map{
	width: 100%;
	height: 400px;
}
.form{
	width: 50%;
	margin: 50px auto;
}
.feetback_input{
	color: #000;
	font-weight: 300;
	font-size: 14px;
	line-height: 22px;
	background-color: #fff;
	padding: 13px;
	margin-bottom: 10px;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 0px solid transparent;
	border-bottom: 1px solid #000;
}
textarea{
	width: 100%;
	height: 150px;
	resize: vertical;
}
.button_submit{
	float: left;
	width: 100%;
	border: 0px solid transparent;
	cursor: pointer;
	background-color: #000;
	color: #fff;
	font-size: 18px;
	padding-top: 22px;
	padding-bottom: 22px;
	transition: all 0.3s;
	margin-top: -4px;
	font-weight: 300;
}
.button_submit:hover{
	background-color: #646464;
	color: #000;
	border: 0px solid #000;
}
.ease{
	width: 0;
	height: 74px;
	background-color: #f0f0f0;
	transition: 0.3s ease;
}
.about_container{
	width: 80%;
	margin: 50px auto;
	text-align: center;
}
.about_container img{
	max-width: 100%;
}
.about_container p{
	margin-top: 50px;
}
.about_container h1{
	margin-top: 40px;
}
.services{
	width: 80%;
	margin: 50px auto;
	text-align: center;
}
.services img{
	max-width: 100%;
}
.services_container{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	margin-top: 50px;
	margin-bottom: 40px;
}
.services_container_block{
	width: 45%;
	margin: 10px 10px;
}




@media screen and (max-width: 768px){
	.topnav a:not(:first-child){
		display: none;
	}
	.topnav a.icon{
		float: right;
		margin-top: -17px;
		display: block;
		color: #000;
	}
	nav{
		width: 100%;
	}
	.topnav.responsive{
		position: relative;
	}
	.topnav.responsive a.icon{
		position: absolute;
		right: 0;
		top: 0;
	}
	.topnav.responsive a{
		float: none;
		display: block;
		text-align: left;
	}
	.advantages_item{
	width: 45%;
	}
	.photo_items{
		width: 45%;
		margin-left: 10px;
	}
	.blog_container{
		width: 28rem;
	}
	.services_container_block{
		width: 45%;
	}

}
footer{
	width: 100%;
	height: auto;
	background: #000;
	margin: 0 auto;
	text-align: center;
	padding-top: 25px;
}
footer a {
 	color: #fff;
 	font-size: 14px;
 	margin-left: 10px;
}
footer nav a:hover{
	border-bottom: 1px solid #fff;
}
footer p{
	color: #fff;

}
.social img{
	margin-left: 10px;
	margin-bottom: 10px;
}
.social img:hover{
	background: #696969;
	border-radius: 50%;
}

@media screen and (max-width: 420px){
	.advantages{
	flex-direction: column;
	}
	.advantages_item{
	width: 100%;
	}
	.project{
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.gallery{
		margin: auto;
	}
	.photo_items{
		width: 80%;
		margin-left: 0 auto;
	}
	.blog_container{
		width: 20rem;
	}
	.services_container_block{
	width: 80%;
	margin: 0 auto;
}

}