*,
*:bedore,
*:after {
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}

img{
	box-sizing: border-box;
	max-width: 100%;
}

body{
	margin: 0;
	padding: 0;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	color: #363636;

}
h1, h2, h3, h4, h5, h6{
	margin: 0;
}

	/* container */
.container{
	width: 100%;
	max-width: 1140px;
	margin: 0 auto;
	text-align: center;
}


	/* header */

header{
}

.intro{
	width: 100%;
	background: url('../img/bg/bg1.jpg') no-repeat;
	background-size: auto;
	background-position: center;
	height: 750px;
}
.header_top{
	height: 54px;
	background: #000;
}
.head_nav{
	display: flex;
	justify-content: space-around;
}

.logo{
	position: relative;
	margin: auto 0;
}

.logo h1{
	font-size: 24px;
	text-transform: uppercase;
	font-weight: 700;
	color: #fff;
	margin-left: 32px;
}

.logo img{
	position: absolute;
	top: 50%;
	left:0;

	transform: translateY(-50%);
}

	/* nav */
nav{
	height: 100%;
	margin: auto 0;
}

.nav.active{
	display: block;
}
nav a{
	font-size: 14px;
	color: #fff;
	margin: auto 8px;
	padding-bottom: 5px;
	transition: color .2s linear, border-bottom .2s linear;
}

nav a:hover{
	color:#ff6600;
	border-bottom: 2px solid #ff6600;
}
/*nav_toggle*/

.nav_toggle{
	width: 30px;
	padding: 10px 0;
	display: none;
	
	font-size: 0;
	border: 0;
	color: transparent;
	background: none;
	cursor: pointer;

	position: absolute;
	top: 15px;
	right: 15px;
	z-index: 1;
}

.nav_toggle:focus{
	outline: 0;
}

.nav_toggle_item{
	display: block;
	width: 100%;
	height: 3px;

	background: #fff;

	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;

	transition: background .2s linear;
}

.nav_toggle.active .nav_toggle_item{
	background: none;
}

.nav_toggle_item:before,
.nav_toggle_item:after{
	content: "";
	width: 100%;
	height: 3px;

	background-color: #fff;

	position: absolute;
	left: 0;
	z-index: 1;

	transition: transform .2s linear; 
}


.nav_toggle.active .nav_toggle_item:before{
	transform-origin: left top;
	transform: rotate(45deg)
	translateX(-3px);
}

.nav_toggle.active .nav_toggle_item:after{
	transform-origin: left bottom;
	transform: rotate(-45deg)
	translateX(-3px);
}

.nav_toggle_item:before{
	top: -8px;
}

.nav_toggle_item:after{
	bottom: -8px;
}
	/* tel_container */

.tel_container{
	display: flex;
}

.tel_item{
	position: relative;
	padding: 0 30px;
}

.tel_item img{
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
}

.tel_item p{
	color: #fff;
	font-size: 16px;
	font-weight: 500;
}

.tel_item:after{
	content: '';
	display: block;
	border: 5px solid transparent;
	border-top: 5px solid #9e9e9e;
	display: block;
	width: 0;
	height: 0;
	position: absolute;
	top: 55%;
	right: 14px;
	transform: translateY(-45%);

}

/*intro_container*/

.intro_container{
	width: 950px;
	text-align: center;
	margin: 250px auto 60px auto;
	color: #fff;
}

.intro_container h1{
	font-size: 48px;
	font-weight: 800;
	text-transform: uppercase;
}

.intro_container h2{
	font-size: 40px;
	font-weight: 700;
}

/*intro_button*/

.button{
	width: 250px;
	text-transform: uppercase;
	margin: 0 auto;
	padding: 10px;
	font-size: 14px;
	font-weight: 700;
	color: #fff;
	border: 2px solid #ff6600;
	background: #ff6600;
	border-radius: 21px;
	transition: background .2s linear, color .2s linear;
}

.button:hover{
	background: #fff;
	color: #ff6600;
}

/*intro_arrow*/	
.intro_arrow{
	margin: 42px auto;
	width: 2px;
	height: 67px;
	background: #fff;
}

.intro_arrow:after{
	content: "";
	width: 20px;
	height: 20px;
	border-bottom: 2px solid #fff;
	border-left: 2px solid #fff;
	display: block;
	transform:  translateY(43px) translateX(-10px) rotate(-45deg) ;
}

/*slider*/
.section_head{
	display: flex;
	justify-content: space-between;
	margin-top: 60px;
}

.slider_name h1{
	font-size: 36px;
	font-weight: 800;
}

.slider_btn{
	font-size: 14px;
	font-weight: 500;
	padding: 15px 50px 15px 25px;
	box-shadow: 0 1px 1px #eaeaea;
	color: #666;
	transition: color .2s linear, box-shadow .2s linear;
	position: relative;
}
.slider_btn:after{
	content: '';
	display: block;
	border: 5px solid transparent;
	border-left: 5px solid #9e9e9e;
	display: block;
	width: 0;
	height: 0;
	position: absolute;
	top: 50%;
	right: 25px;
	transform: translateY(-50%);
}
.slider_btn:hover{
	color: #ff440b;
	box-shadow: none;
}

.slick-arrow{
	font-size: 0;
	color: transparent;
	background: none;
	border: none;
	width: 34px;
	height: 48px;
	box-shadow: 0 1px 1px #eaeaea;
	transition:box-shadow .2s linear;
	position: absolute;
	outline: none;
}

.slick-prev{
	top: -93px;
	right: 198px;
}

.slick-next{
	top: -93px;
	right: 159px;

}
.slick-next.slick-arrow:after{
	transform: rotate(135deg) translateY(-3px) translateX(-3px);

}

.slick-arrow:hover{
	box-shadow: none;
	
}
.slick-arrow:hover:after{
	border-top-color: #ff440b;
	border-left-color: #ff440b;
}
.slick-arrow:after{
	content: "";
	display: block;
	width: 8px;
	height: 8px;
	border-top: 2px solid #9f9f9f;
	border-left: 2px solid #9f9f9f;
	transform: rotate(-45deg) translateY(6px) translateX(6px) ;
	transition: border-top-color .2s linear,border-left-color .2s linear;
}
.slick-dots{
	width: 250px;
	margin: 20px auto;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;
}
.slick-dots button{
	border: none;
	font-size: 0;
	width: 50px;
	height: 7px;
	display: block;
	outline: none;	
	border-radius: 4px;
}

.slick-active button{
	background: #ff440b;
}

.slick-dots li{
	list-style-type: none;
}

.slider_container{
	margin-top: 45px;
	margin-bottom: 80px;
}

.slider_item{
	width: 20%;
	padding-bottom: 25px;
	margin: 10px;

	box-shadow: 0 1px 2px #eaeaea;
	transition: box-shadow .2s linear;
}

.slider_item img{
	box-sizing: border-box;
	max-width: 100%;
}

.slider_item:hover{
	box-shadow:none;
}

.item_name p{
	font-size: 18px;
	font-weight: 800;
	margin: 0;
}

.item_price p{
	font-size: 16px;
	font-weight: 800;
	margin-top: 6px;
}
.item_price span{
	font-size: 14px;
	font-weight: 600;
}
.item_btn p{
	max-width: 168px;
	font-size: 11px;
	font-weight: 800;
	text-transform: uppercase;
	color: #ff440b;
	padding: 14px 0;
	border: 1px solid #ff440b;
	border-radius: 25px;
	margin: 0 auto;
	transition: color .2s linear, background .2s linear;
}

.item_btn p:hover{
	color: #fff;
	background: #ff440b;
}

/*advant*/
.advant{
}

.mode{
	text-align: left;
}
.advant_container{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;


}
.advant_item{
	width: 45%;
	margin-top: 30px;
	position: relative;
	padding-right: 30px;
}
.advant_item img{
	display: block;
}

.advant_text_container{
	width: 80%;
	position: absolute;
	top: 50%;
	left: 70px;
	margin: auto;
	color: #fff;
	text-align: left;
	transform: translateY(-50%);
}

.advant_title{
	font-size: 24px;
	font-weight: 800;
}

.advant_text p{
	font-size: 16px;
	font-weight: 300;
}

/*question*/

.question{
	margin: 45px auto;
	position: relative;
}
.question img{
	display: block;
	box-sizing: border-box;
}

.q_container{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: 22px;
	padding: auto;
	background: #fff;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}
.q_text_container{
	text-align: left;
	margin: auto 0px auto 60px;
}

.q_title{
	font-size: 36px;
	font-weight: 800;
}

.q_text{
	font-size: 16px;
	font-weight: 600;
}

.q_btn{
	margin: auto;
}
.q_btn p{
	text-transform: uppercase;
	padding-top: 10px;
	font-size: 14px;
	padding: 11px 55px;
	font-weight: 700;
	color: #fff;
	margin: auto;
	background: #ff6600;
	border: 2px solid #ff6600;
	border-radius: 22px;
	transition: background .2s linear, color .2s linear;
}

.q_btn p:hover{
	color: #ff6600;
	background: #fff;

}

/*about*/

.about{
	width: 100%;
	height: 446px;

	background: url("../img/bg/bg2.jpg") no-repeat;
	background-size: cover;
	background-position: center;

	
}
.about_container{
	height: 446px;
	width: 50%;
	position: relative;
}

.text_container{
	text-align: left;
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	margin: auto 0;
	color: #fff;
}

.about_title{
	font-size: 36px;
	font-weight: 800;
	
}
.about_text p{
	font-size: 16px;
	font-weight: 300;
}

/*contact*/

.section_title{
	text-align: left;

	font-size: 36px;
	font-weight: 800;
	margin: 30px 0;
}

.contact_container{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;
}

.con_item{
	width: 30%;
	margin: 15px;
	position: relative;
	background: #fff;
	text-align: left;
	padding: 15px;
}
.c_it_title{
	font-size: 16px;
	font-weight: 800;
	margin-bottom: 15px;
}
.c_it_text{
	font-size: 16px;
	font-weight: 300;
}
.c_it_text p {
	margin: 0;
}


.c_it_icon{
	position: absolute;
	top: -15px;
	left: -15px;
	z-index: -100;
}

/*map*/

.map_container{
	width: 100%;
	height: 400px;
	background: #efefef;
	position: relative;	
}

.marker{
	font-size: 48px;
	color: #ff6600;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%, -50%, 0);
}

/*map*/

.footer{
	margin-top: 50px;
	background: url("../img/footer/footer.jpg");
	width: 100%;
	height: 54px;
}

.footer_container{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	height: 54px;
}
.footer_title{
	color: #d6d6d6;
	font-size: 16px;
	font-weight: 300;
	margin: auto 0;
}

.footer_logo{
	margin: auto 0;
}


@media screen and (max-width: 1100px){
	
	.head_nav{
		position: relative;
	}

	.nav{
		display: none;
		text-align: left;
		
		
		
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		height: 175px;
		background-color: #000;
	}

	.nav a{
		width: 100%;
    	display: block;
    	padding: 8px 20px;
	}

	.nav_toggle{
		display: block;
	}

	.container{
		max-width: 90%;
	}

	/*intro_container*/

	.intro_container{
		width: 80%;
	}

	.intro_container h1{
		font-size: 40px;
	}

	.intro_container h2{
		font-size: 30px;
	}

	.advant_item{
	width: 45%;
	}

	.q_title{
		font-size: 24px;
	}

	.q_text{
		font-size: 14px;
	}

	.about{
	background-position: left;

	
	}
	.about_container{
		width: 70%;
	}
}

@media screen and (max-width: 850px){


	.container{
		max-width: 90%;
	}

	/*intro_container*/

	.intro_container{
		width: 80%;
	}

	.intro_container h1{
		font-size: 36px;
	}

	.intro_container h2{
		font-size: 24px;
	}

	.q_title{
		font-size: 18px;
	}

	.q_text{
		font-size: 14px;
	}

	.q_btn p{
		font-size: 14px;
		padding: 8px 25px;
	}
}

@media screen and (max-width: 650px){

	.container{
		max-width: 100%;
		width: 100%;
	}
	.head_nav{
		justify-content: start;
	}

	.logo{
		padding: 10px;
	}
		/* tel_container */

	.tel_container{
		display: none;
	}

	/*intro_container*/

	.intro_container{
		width: 80%;
		margin: 200px auto 60px auto;
	}

	.intro_container h1{
		font-size: 30px;
	}

	.intro_container h2{
		font-size: 25px;
	}

	/*slider*/
	.section_head{
		display: flex;
		flex-wrap: wrap;
		text-align: left;	
	}

	.slider_name h1{
		width: 250px;
	}

	.slider_btn{
		margin: 0 0 0 auto;
	}
	.slick-prev{
		top: -93px;
		right: 198px;
	}

	.slick-next{
		top: -93px;
		right: 159px;
	}



	/*advant*/
	.advant_item{
		width: 95%;
		margin: 10px auto;
		padding-right: 0;	
	}

	.advant_text_container{
		width: 90%;
		left: 10px;
	}

	.advant_title{
		font-size: 16px;
	}

	.advant_text p{
		font-size: 11px;
	}

		/*question*/
	.question img{
		display: block;
		box-sizing: border-box;
	}

	.q_container{
		margin: 5px;
		flex-wrap: wrap;
	}
	.q_text_container{
		margin-left: 10px;
	}
	.q_title{
		font-size: 14px;
	}

	.q_text{
		font-size: 12px;
	}
	.q_btn{
			margin: auto;
	}
	.q_btn p{
		font-size: 10px;
		padding: 4px 20px;
		margin: auto;
		border-radius: 22px;
	}



		/*about*/

	.about_container{
		width: 96%;
	}
	.about_title{
		font-size: 24px;
		
	}
	.about_text p{
		font-size: 14px;
	}

	.about_text p:last-child{
		display: none;
	}

		/*contact*/
	.contact_container{
		flex-wrap: wrap;
	}

	.con_item{
		width: 80%;
	}
}

